@font-face {
    font-family: 'Gabia Cheongyeon';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaCheongyeon/GabiaCheongyeon.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaCheongyeon/GabiaCheongyeon.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaCheongyeon/GabiaCheongyeon.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GabiaCheongyeon/GabiaCheongyeon.ttf') format('truetype');
}
